:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}
.button-menu {
  button {
    margin: 2px;
    transform: scale(80%);
  }
}

