<div class="navigation-element-wrapper">
  <div class="button-menu" (click)="onButtonClick($event)">
    <button mat-flat-button color="primary" aria-label="Add new note button">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-flat-button color="warn" aria-label="Delete selected note">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-flat-button color="accent" aria-label="Add new note button">
      <mat-icon>edit_note</mat-icon>
    </button>
  </div>

  <div class="search-input">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" placeholder="Search" />
  </div>
</div>
