@use "../../global-styles" as gs;

:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gs.$base-color-grey;
}
.button-menu {
  button {
    margin: 2px;
    transform: scale(80%);
  }
}
.search-form {
  margin-right: 10px;
  padding-top: 2px;
}
