:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}
.button-menu {
  button {
    margin: 2px;
    transform: scale(80%);
  }
}

// .search-form {
//   border: 1px solid;
//   padding: 2px;
//   border-radius: 10px;
//   font-size: 16px;
//   height: 25px;
// }
