<div class="button-menu" (click)="onButtonClick($event)">
  <button
    mat-flat-button
    color="primary"
    aria-label="Add new note button"
    data-button-type="add"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-flat-button
    color="warn"
    aria-label="Delete selected note"
    data-button-type="delete"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-flat-button
    color="accent"
    aria-label="Add new note button"
    data-button-type="edit"
  >
    <mat-icon>edit_note</mat-icon>
  </button>
</div>

<form class="search-form">
  <mat-form-field class="search-form-field">
    <mat-label>Search</mat-label>
    <input
      (input)="onSearchInputFilter($event)"
      type="text"
      aria-label="Search"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelected($event)"
    >
      <mat-option
        *ngFor="let note of filteredArray"
        [value]="note.title"
        aria-label="Notes title option"
      >
        {{ note.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
