@mixin card {
  background-color: rgb(202, 202, 202);
  cursor: pointer;
}
.card {
  max-width: 400px;
  margin-bottom: 8px;

  &:hover {
    @include card;
  }
}
.active {
  @include card;
}
mat-card-title {
  font-size: 16px;
}
mat-card-subtitle,
mat-card-content {
  font-size: 14px;
}
