:host {
  overflow-y: scroll;

  scrollbar-color: #458245 #714826; /* «цвет ползунка» | «цвет полосы скроллбара» */
  scrollbar-width: auto; /* толщина: auto | thin | none */

  /*  Для Google Chrome, Яндекс.Браузер, Safari и Opera используйте следующие CSS свойства. */
  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #d3d3d3;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
  }
}
