<div class="wrapper">
  <div class="navbar-wrap">
    <app-navbar></app-navbar>
  </div>
  <div class="notes-list-editor-wrapper">
    <div class="scrolable">
      <app-note-card
        *ngFor="let notes of service.notesDataArray; index as i"
        [note]="notes"
        [i]="i"
      >
      </app-note-card>
    </div>
    <app-note-editor
      *ngIf="service.isNoteChosen"
      [noteData]="service.notesDataArray[service.chosenElementIndex]"
    ></app-note-editor>
    <!-- <button (click)="changeArray()"></button> -->
  </div>
</div>
