<app-navbar
  (buttonEventEmitter)="service.navBarButtonHandler($event)"
></app-navbar>
<div class="notes-list-editor-wrapper">
  <app-note-list [arrayOfNotes]="service.notesDataArray"></app-note-list>
  <app-note-editor
    #inp
    *ngIf="service.isNoteChosen"
    [noteData]="service.notesDataArray[service.chosenNoteIndex]"
    [canEdit]="service.notesEditableModeOn"
  ></app-note-editor>
</div>
<app-modal
  *ngIf="service.modalOpen"
  (modalWindowEmiter)="service.modalWindowAction($event)"
></app-modal>
<button (click)="createDB()">Create</button>
<button (click)="deleteDB()">Delete</button>
<button (click)="IDB.add()">Add</button>
<button (click)="IDB.getAllNotesFromDB()">Get</button>
<button (click)="IDB.IDBinit()">New button for test</button>
