.wrapper {
  width: 90vw;
  height: 90vh;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px rgb(153, 153, 153), -5px 5px 5px rgb(153, 153, 153);
  display: flex;
  flex-direction: column;
}

.notes-list-editor-wrapper {
  flex-grow: 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
  overflow-y: hidden;
  .scrolable {
    overflow-y: scroll;
  }
}
