<div class="list">
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'This is Header'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
  <app-note-card
    [title]="'sasds'"
    [date]="'07/12/2023'"
    [text]="'This is amazing note'"
  ></app-note-card>
</div>
