@use "../../global-styles" as gs;

@mixin fixed {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  position: fixed;
  @include fixed;
  background-color: rgba(75, 75, 75, 0.8);
}

.wrapper {
  @include flex;
  background-color: white;
  flex-direction: column;
  z-index: 1001;
  width: 20vw;
  height: 20vh;
  border: 2px solid gs.$base-color-grey;
  border-radius: 20px;
}
.actions-field {
  button:first-child {
    margin-right: 5px;
  }
}
.close-overlay {
  @include flex;
  @include fixed;
  position: absolute;
  z-index: 1000;
}
