/* You can add global styles to this file, and also import other style files */
html {
  background: linear-gradient(
    40deg,
    hsl(54deg 100% 51%) 0%,
    hsl(144deg 50% 73%) 39%,
    hsl(181deg 67% 42%) 61%,
    hsl(0deg 0% 0%) 100%
  );
  height: 100%;
  width: 100%;
}
body {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
